/* check in nodemodules .js file, its lill complicated to find it bur really amazing */
#nprogress .bar {
    height: 4px !important;
    background: red !important;
}

.nav a:hover{
    border-radius: 0px;
}